@* From12 Pectus Excavatum*@

<div class="tab-pane fade" id="form12" role="tabpanel" aria-labelledby="dropdownPectusExcavatum">
    <p>
        Pectus Excavatum
    </p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Simetría
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm12PectusExcavatumSimetria" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumSimetria1" value="Simétrico (Depresión en el centro)" name="customRadioForm12NuevoUsuarioExcavatumSimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumSimetria1">Simétrico (Depresión en el centro)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumSimetria2" value="Asimétrico izquierdo" name="customRadioForm12NuevoUsuarioExcavatumSimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumSimetria2">Asimétrico izquierdo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumSimetria3" value="Asimétrico derecho" name="customRadioForm12NuevoUsuarioExcavatumSimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumSimetria3">Asimétrico derecho</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm12PectusExcavatumSimetriaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Simetría
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    Hundimiento Torácico Parado
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="NuevoUsuarioForm12PectusExcavatumHundimiento" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm12HundimientoParado">
                </div>
                <div id="NuevoUsuarioForm12PectusExcavatumHundimientoInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Presión de Corrección
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    Hundimiento Torácico Prono
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="NuevoUsuarioForm12PectusExcavatumHundimientoAcostado" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm12HundimientoAcostado">
                </div>
                <div id="NuevoUsuarioForm12PectusExcavatumHundimientoAcostadoInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Hundimiento Torácico Acostado
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Rotación Esternal
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm12PectusExcavatumRotacion" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumRotacion1" value="Si" name="customRadioForm12NuevoUsuarioExcavatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumRotacion1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumRotacion2" value="No" name="customRadioForm12NuevoUsuarioExcavatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumRotacion2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm12PectusExcavatumRotacionSi" class="btn-group-toggle pl-3" hidden="hidden">
                    <span class="fa fa-level-down-alt"></span>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumRotacionSi1" value="Izquierda" name="customRadioForm12NuevoUsuarioExcavatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumRotacionSi1">Izquierda</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioExcavatumRotacionSi2" value="Derecha" name="customRadioForm12NuevoUsuarioExcavatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioExcavatumRotacionSi2">Derecha</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm12PectusExcavatumRotacionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Rotación Esternal
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2 pb-2" style=" display: inline-block; ">
        <button id="BtnBackForm12Usuario" class="btn btn-primary" type="button"> Atrás </button>
        <button id="BtnNextForm12Usuario" class="btn btn-primary" type="button"> Siguiente </button>
    </div>
</div>
