@* From5 Anamnesis*@

<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                Alergias
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="" class="btn-group-toggle pl-3">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm5NuevoUsuarioAlergia1" value="Si" name="customRadioForm5NuevoUsuarioAlergia" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm5NuevoUsuarioAlergia1">Si</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm5NuevoUsuarioAlergia2" value="No" name="customRadioForm5NuevoUsuarioAlergia" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm5NuevoUsuarioAlergia2">No</label>
                </div>
            </div>
            <div id="" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para Otros
            </div>
        </div>
    </div>
    <div id="inputForm5NuevoUsuarioAlergiasCuales" hidden="hidden">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <label for="example-text-input" class="col-12 col-form-label">
                        <span class="fa fa-level-down-alt"></span>
                        Cual?
                    </label>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <input class="form-control" type="text" placeholder="Tu respuesta" name="inputForm5NuevoUsuarioAlergiaCual">
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                Observaciones
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <input class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsaurioForm5Observaciones">
            </div>
            <div id="" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para la pregunta
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                Otras Alergias
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <input id="" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsaurioForm5OtrasAlergias">
            </div>
            <div id="" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para la pregunta
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                Realiza deportes
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="NuevoUsuarioForm5RealizaDeporte" class="btn-group-toggle pl-3">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm5NuevoUsuarioDeportes1" value="Si" name="customRadioForm5NuevoUsuarioDeportes" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm5NuevoUsuarioDeportes1">Si</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm5NuevoUsuarioDeportes2" value="No" name="customRadioForm5NuevoUsuarioDeportes" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm5NuevoUsuarioDeportes2">No</label>
                </div>
            </div>
            <div id="NuevoUsuarioForm5RealizaDeporteInvalid" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para Otros
            </div>
        </div>
    </div>
    <div id="inputsNuevoUsuarioForm6RealizaDeporte" hidden="hidden">
        <partial name="Form6.cshtml" />
    </div>
</div>