@* From11 Pectus Carinatum*@

<div class="tab-pane fade" id="form11" role="tabpanel" aria-labelledby="dropdownPectusCarinatum">
    <p>
        Pectus Carinatum
    </p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Tipo
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm11PectusCarinatumTipo" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumTipo1" value="Condrogladiolar" name="customRadioForm11NuevoUsuarioPectusCarinatumTipo" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumTipo1">Condrogladiolar</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumTipo2" value="Manubrial" name="customRadioForm11NuevoUsuarioPectusCarinatumTipo" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumTipo2">Manubrial</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm11PectusCarinatumTipoInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Tipo
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Simetría
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm11PectusCarinatumSimetria" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumSimetria1" value="Simétrico (protrusión central)" name="customRadioForm11NuevoUsuarioPectusCarinatumSimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumSimetria1">Simétrico (protrusión central)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumSimetria2" value="Asimétrico izquierdo" name="customRadioForm11NuevoUsuarioPectusCarinatumSimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumSimetria2">Asimétrico izquierdo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumSimetria3" value="Asimétrico derecho" name="customRadioForm11NuevoUsuarioPectusCarinatumSimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumSimetria3">Asimétrico derecho</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm11PectusCarinatumSimetriaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Simetría
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Rotación Esternal
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm11PectusCarinatumRotacion" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumRotacion1" value="Si" name="customRadioForm11NuevoUsuarioPectusCarinatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumRotacion1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumRotacion2" value="No" name="customRadioForm11NuevoUsuarioPectusCarinatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumRotacion2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm11PectusCarinatumRotacionSi" class="btn-group-toggle pl-3" hidden="hidden">
                    <span class="fa fa-level-down-alt"></span>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumRotacionSi1" value="Izquierda" name="customRadioForm11NuevoUsuarioPectusCarinatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumRotacionSi1">Izquierda</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPectusCarinatumRotacionSi2" value="Presión de Corrección" name="customRadioForm11NuevoUsuarioPectusCarinatumRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPectusCarinatumRotacionSi2">Derecha</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm11PectusCarinatumRotacionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Rotación Esternal
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    Presión de Corrección (PSI)
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="NuevoUsuarioForm11PectusCarinatumPresion" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm11PresionCorreccion">
                </div>
                <div id="NuevoUsuarioForm11PectusCarinatumPresion" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Presión de Corrección
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2 pb-2" style=" display: inline-block; ">
        <button id="BtnBackForm11Usuario" class="btn btn-primary" type="button"> Atrás </button>
        <button id="BtnNextForm11Usuario" class="btn btn-primary" type="button"> Siguiente </button>
    </div>
</div>