@*Form14 Síndrome de Poland*@

<div class="tab-pane fade" id="form14" role="tabpanel" aria-labelledby="dropdownSindromePoland">
    <p>
        Síndrome de Poland / Clasificación
    </p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Anomalía Torácica
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm14PolandToracica" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandToracica1" value="T1: Hipoplasia o aplasia de musculos pectorales y tejidos blandos" name="customRadioForm14NuevoUsuarioPolandToracica" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandToracica1">T1: Hipoplasia o aplasia de musculos pectorales y tejidos blandos.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandToracica2" value="T2: T1 + deformidad esternal, pectus excavatum y/o carinatum" name="customRadioForm14NuevoUsuarioPolandToracica" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandToracica2">T2: T1 + deformidad esternal, pectus excavatum y/o carinatum.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandToracica3" value="T3: T1 + aplasia costal" name="customRadioForm14NuevoUsuarioPolandToracica" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandToracica3">T3: T1 + aplasia costal.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandToracica4" value="T4: T1, T2 y T3 (Defecto esternal, costal y muscular)" name="customRadioForm14NuevoUsuarioPolandToracica" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandToracica4">T4: T1, T2 y T3 (Defecto esternal, costal y muscular)</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm14PolandToracicaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Anomalía mamaria
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm14PolandMamaria" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandMamaria1" value="B1: Hipoplasia mamaria" name="customRadioForm14NuevoUsuarioPolandMamaria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandMamaria1">B1: Hipoplasia mamaria.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandMamaria2" value="T2: T1 + deformidad esternal, pectus excavatum y/o carinatum" name="customRadioForm14NuevoUsuarioPolandMamaria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandMamaria2">T2: T1 + deformidad esternal, pectus excavatum y/o carinatum.</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm14PolandMamariaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Anomalía en complejo Pezón-Areola (NAC)
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm14PolandPezon" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandPezon1" value="N1: NAC hipoplasia + dislocación < 2cm" name="customRadioForm14NuevoUsuarioPolandPezon" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandPezon1">N1: NAC hipoplasia + dislocación < 2cm.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandPezon2" value="N2: NAC hipoplasia + dislocación > 2cm" name="customRadioForm14NuevoUsuarioPolandPezon" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandPezon2">N2: NAC hipoplasia + dislocación > 2cm.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioPolandPezon2" value="N3: Ausencia de NAC" name="customRadioForm14NuevoUsuarioPolandPezon" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandPezon2">N3: Ausencia de NAC</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm14PolandPezonInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    T2, T3 o T4
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="customRadioFormNuevoUsuarioPolandT1" value="Pectus Excavatum" name="customRadioForm14NuevoUsuarioPolandT" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandT1">Pectus Excavatum</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="customRadioFormNuevoUsuarioPolandT2" value="Pectus Carinatum" name="customRadioForm14NuevoUsuarioPolandT" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandT2">Pectus Carinatum</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="customRadioFormNuevoUsuarioPolandT3" value="Agenesia Costal < o = a 2 Costillas" name="customRadioForm14NuevoUsuarioPolandT" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandT3">Agenesia Costal < o = a 2 Costillas.</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="customRadioFormNuevoUsuarioPolandT4" value="Agenesia Costal > a 2 Costillas" name="customRadioForm14NuevoUsuarioPolandT" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioPolandT4">Agenesia Costal > a 2 Costillas.</label>
                    </div>
                </div>
                <div id="" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    PC en PSI si Pectus Carinatum
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="NuevoUsuarioForm14PolandPC" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm14PC">
                </div>
                <div id="NuevoUsuarioForm14PolandPCInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2 pb-2" style=" display: inline-block; ">
        <button id="BtnBackForm14Usuario" class="btn btn-primary" type="button"> Atrás </button>
        <button id="BtnNextForm14Usuario" class="btn btn-primary" type="button"> Siguiente </button>
    </div>
</div>