@* From9 Signos y síntomas clínicos*@

<div class="tab-pane fade" id="form9" role="tabpanel" aria-labelledby="navPagina9FormUsuario">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Signos y síntomas clínicos
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm9SignosSintomasClinicos" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioSignosSintomasClinicos1" value="Si" name="customRadioForm9NuevoUsuarioSignosSintomasClinicos" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioSignosSintomasClinicos1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioSignosSintomasClinicos2" value="No" name="customRadioForm9NuevoUsuarioSignosSintomasClinicos" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioSignosSintomasClinicos2">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="inputsNuevoUsuarioForm9SignosSintomasClinicos" hidden="hidden">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Dificultad respiratoria en reposo
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="NuevoUsuarioForm9Reposo" class="btn-group-toggle pl-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioReposo1" value="Si" name="customRadioForm9NuevoUsuarioDificultadReposo" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioReposo1">Si</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioReposo2" value="No" name="customRadioForm9NuevoUsuarioDificultadReposo" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioReposo2">No</label>
                            </div>
                        </div>
                        <div id="NuevoUsuarioForm9ReposoInvalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Dificultad respiratoria durante actividad física
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="NuevoUsuarioForm9Actividad" class="btn-group-toggle pl-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioActividad1" value="Si" name="customRadioForm9NuevoUsuarioDificultadActividad" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioActividad1">Si</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioActividad2" value="No" name="customRadioForm9NuevoUsuarioDificultadActividad" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioActividad2">No</label>
                            </div>
                        </div>
                        <div id="NuevoUsuarioForm9ActividadInvalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Neumonías a repetición
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="NuevoUsuarioForm9Repeticion" class="btn-group-toggle pl-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioRepeticion1" value="Si" name="customRadioForm9NuevoUsuarioRepeticion" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioRepeticion1">Si</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioRepeticion2" value="No" name="customRadioForm9NuevoUsuarioRepeticion" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioRepeticion2">No</label>
                            </div>
                        </div>
                        <div id="NuevoUsuarioForm9RepeticionInvalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Otras enf. respiratorias a repetición
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="NuevoUsuarioForm9Repeticion2" class="btn-group-toggle pl-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioRepeticion21" value="Si" name="customRadioForm9NuevoUsuarioRepeticion2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioRepeticion21">Si</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioRepeticion22" value="No" name="customRadioForm9NuevoUsuarioRepeticion2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioRepeticion22">No</label>
                            </div>
                        </div>
                        <div id="NuevoUsuarioForm9RepeticionInvalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Dolor de espalda
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="NuevoUsuarioForm9Espalda" class="btn-group-toggle pl-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioEspalda1" value="Si" name="customRadioForm9NuevoUsuarioEspalda" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioEspalda1">Si</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioEspalda2" value="No" name="customRadioForm9NuevoUsuarioEspalda" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioEspalda2">No</label>
                            </div>
                        </div>
                        <div id="NuevoUsuarioForm9EspaldaInvalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Palpitaciones/Taquicardia
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="NuevoUsuarioForm9Palpitaciones" class="btn-group-toggle pl-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioPalpitaciones1" value="Si" name="customRadioForm9NuevoUsuarioPalpitaciones" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioPalpitaciones1">Si</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioForm9NuevoUsuarioPalpitaciones2" value="No" name="customRadioForm9NuevoUsuarioPalpitaciones" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioForm9NuevoUsuarioPalpitaciones2">No</label>
                            </div>
                        </div>
                        <div id="NuevoUsuarioForm9PalpitacionesInvalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-date-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Otros
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <input id="" class="form-control" type="text" placeholder="Nombre" name="NuevoUsuarioForm9Otros">
                        </div>
                        <div id="" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor para Otros
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <label for="example-text-input" class="col-12 col-form-label">
                            <span class="fa fa-level-down-alt"></span>
                            Signos y síntomas Psicosociales
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive table-wrapper-scroll">
                            <table class="table table-hover text-left">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Si</th>
                                        <th>No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            Incomodidad
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesIncomodidad1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesIncomodidad" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesIncomodidad2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesIncomodidad" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Verguenza
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesVerguenza1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesVerguenza" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesVerguenza2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesVerguenza" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Ansiedad
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesAnsiedad1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesAnsiedad" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesAnsiedad2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesAnsiedad" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Angustia
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesAngustia1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesAngustia" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesAngustia2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesAngustia" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Tristeza
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesTristeza1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesTristeza" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesTristeza2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesTristeza" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Sentimientos de Inferioridad
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesSentimientosInferioridad1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesSentimientos" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesSentimientosInferioridad2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesSentimientos" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Dificultad para relacionarse con otras personas
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesDificultad1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesDificultad" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesDificultad2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesDificultad" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Otros
                                        </th>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesOtros1" value="Si" name="customRadioForm9NuevoUsuarioPsicosocialesOtros" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" id="customRadioForm9NuevoUsuarioPsicosocialesOtros2" value="No" name="customRadioForm9NuevoUsuarioPsicosocialesOtros" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="ControlForm2GroupF1Invalid" class="text-danger col-12" style="visibility: hidden">
                            Indica un valor
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pt-2 pb-2" style=" display: inline-block; ">
            <button id="BtnBackForm9Usuario" class="btn btn-primary" type="button"> Atrás </button>
            <button id="BtnNextForm9Usuario" class="btn btn-primary" type="button"> Siguiente </button>
        </div>
    </div>
</div>