@* From4 - Si enfermedad Preexistente*@

<div id="form4NuevoUsuarioInputsEnfermedadPreexistente" hidden="hidden">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    Tipo de Enfermedad
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm4TipoEnfermedad">
                </div>
                <div id="" class="text-danger col-12" style="visibility: hidden">
                    <span class="fa fa-level-down-alt"></span>
                    Indica un valor para la pregunta
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    Edad de Diagnóstico
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm4EdadDiagnostico">
                </div>
                <div id="" class="text-danger col-12" style="visibility: hidden">
                    <span class="fa fa-level-down-alt"></span>
                    Indica un valor para la pregunta
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    Otros (Internaciones, infecciones, etc.)
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioOtro1" value="Si" name="customRadioForm4NuevoUsuarioOtro" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioOtro1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioOtro2" value="No" name="customRadioForm4NuevoUsuarioOtro" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioOtro2">No</label>
                    </div>
                </div>
                <div id="" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Otros
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    Especificar
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm4Especificar">
                </div>
                <div id="" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para la pregunta
                </div>
            </div>
        </div>
    </div>
</div>