@* From6 Deportes*@


<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                <span class="fa fa-level-down-alt"></span>
                Cuál/es?
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="" class="btn-group-toggle pl-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadioForm6NuevoUsuarioDeportesCual1" value="Natación" name="customRadioForm6NuevoUsuarioDeportesCual" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDeportesCual1">Natación</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadioForm6NuevoUsuarioDeportesCual2" value="Futbol" name="customRadioForm6NuevoUsuarioDeportesCual" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDeportesCual2">Futbol</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadioForm6NuevoUsuarioDeportesCual3" value="Basquet" name="customRadioForm6NuevoUsuarioDeportesCual" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDeportesCual3">Basquet</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadioForm6NuevoUsuarioDeportesCual4" value="Gimnasio" name="customRadioForm6NuevoUsuarioDeportesCual" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDeportesCual4">Gimnasio</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadioForm6NuevoUsuarioDeportesCual5" value="Atletismo" name="customRadioForm6NuevoUsuarioDeportesCual" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDeportesCual5">Atletismo</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadioForm6NuevoUsuarioDeportesCual6" value="Other" name="customRadioForm6NuevoUsuarioDeportesCual" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDeportesCual6">Other</label>
                </div>
            </div>
            <input id="otherForm6NuevoUsuarioDeportesCual7" class="form-control" type="text" placeholder="Other:" disabled="disabled" name="InputForm6NuevoUsuarioDeportesCualOther">
            <div id="" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para Otros
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                <span class="fa fa-level-down-alt"></span>
                Frecuencia
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="NuevoUsuarioForm6Frecuencia" class="btn-group-toggle pl-3">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm6NuevoUsuarioFrecuencia1" value="Un día a la semana" name="customRadioForm6NuevoUsuarioFrecuencia" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioFrecuencia1">Un día a la semana</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm6NuevoUsuarioFrecuencia2" value="Dos veces por semana" name="customRadioForm6NuevoUsuarioFrecuencia" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioFrecuencia2">Dos veces por semana</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm6NuevoUsuarioFrecuencia3" value="Tres veces por semana" name="customRadioForm6NuevoUsuarioFrecuencia" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioFrecuencia3">Tres veces por semana</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm6NuevoUsuarioFrecuencia4" value="Más de tres veces por semana" name="customRadioForm6NuevoUsuarioFrecuencia" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioFrecuencia4">Más de tres veces por semana</label>
                </div>
            </div>
            <div id="NuevoUsuarioForm6FrecuenciaInvalid" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para Frecuencia
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <label for="example-text-input" class="col-12 col-form-label">
                <span class="fa fa-level-down-alt"></span>
                Ha dejado de realizar deportes por el pectus?
            </label>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="NuevoUsuarioForm6Dejado" class="btn-group-toggle pl-3">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm6NuevoUsuarioDejado1" value="Si" name="customRadioForm6NuevoUsuarioDejado" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDejado1">Si</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioForm6NuevoUsuarioDejado2" value="No" name="customRadioForm6NuevoUsuarioDejado" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioForm6NuevoUsuarioDejado2">No</label>
                </div>
            </div>
            <div id="NuevoUsuarioForm6DejadoInvalid" class="text-danger col-12" style="visibility: hidden">
                Indica un valor para Frecuencia
            </div>
        </div>
    </div>
    <div id="NuevoUsuarioForm6DejadoDeportePorque" hidden="hidden">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    <span class="fa fa-level-down-alt"></span>
                    Por qué?
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm6Porque" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioForm6NuevoUsuarioPorque1" value="Razones Clínicas" name="customRadioForm6NuevoUsuarioPorque" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioForm6NuevoUsuarioPorque1">Razones Clínicas</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioForm6NuevoUsuarioPorque2" value="Razones psicológicas" name="customRadioForm6NuevoUsuarioPorque" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioForm6NuevoUsuarioPorque2">Razones psicológicas</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm6DejadoInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Porqué?
                </div>
            </div>
        </div>
    </div>
</div>
