@* From8 Dolor de pecho*@

<div id="inputsNuevoUsuarioForm8DolorPecho" hidden="hidden">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                     Tipo de dolor
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive table-wrapper-scroll">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Puntadas</th>
                                <th>Calambres</th>
                                <th>Al apoyar sobre superficie dura	/a</th>
                                <th>Al apoyar sobre superficie blanda</th>
                                <th>Frecuencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Dolor en reposo
                                </th>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Puntadas" name="checkboxForm8NuevoUsuarioTipoDolorReeposo">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Calambres" name="checkboxForm8NuevoUsuarioTipoDolorReeposo">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Al apoyar sobre superficie dura" name="checkboxForm8NuevoUsuarioTipoDolorReeposo">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Al apoyar sobre superficie blanda" name="checkboxForm8NuevoUsuarioTipoDolorReeposo">
                                    </div>
                                </td>
                                <td>
                                    <select name="selectOptionForm8NuevoUsuarioFrecuenciaDolorReposo" class="form custom-select" aria-label="Frecuencia">
                                        <option selected disabled value="null">Vacio</option>
                                        <option option value="Nunca">Nunca</option>
                                        <option option value="Casi nunca">Casi nunca</option>
                                        <option option value="Aveces">Aveces</option>
                                        <option option value="Siempre">Siempre</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Dolor en actividad física
                                </th>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Puntadas" name="checkboxForm8NuevoUsuarioTipoDolorActividadFisica">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Calambres" name="checkboxForm8NuevoUsuarioTipoDolorActividadFisica">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Al apoyar sobre superficie dura" name="checkboxForm8NuevoUsuarioTipoDolorActividadFisica">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck2" value="Al apoyar sobre superficie blanda" name="checkboxForm8NuevoUsuarioTipoDolorActividadFisica">
                                    </div>
                                </td>
                                <td>
                                    <select name="selectOptionForm8NuevoUsuarioFrecuenciaDolorActividadFisica" class="form custom-select" aria-label="Frecuencia">
                                        <option selected disabled value="null">Vacio</option>
                                        <option option value="Nunca">Nunca</option>
                                        <option option value="Casi nunca">Casi nunca</option>
                                        <option option value="Aveces">Aveces</option>
                                        <option option value="Siempre">Siempre</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="ControlForm2GroupF1Invalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Tipo de dolor
                </div>
            </div>
        </div>
    </div>
</div>