@* From2 Cirugía Previa*@

<div id="form2NuevoUsuarioInputsCirugiaPrevia" hidden="hidden">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    Tipo de Cirugía Realizada
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="ControlForm1Fecha" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm2Cirugia">
                </div>
                <div id="ControlForm1FechaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para la pregunta
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    <span class="fa fa-level-down-alt"></span>
                    Edad a la que fué realizada
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="ControlForm1Fecha" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm2Edad">
                </div>
                <div id="ControlForm1FechaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para la pregunta
                </div>
            </div>
        </div>
    </div>
</div>

