@* From10 Clasificación del Pectus*@

<div class="tab-pane fade" id="form10" role="tabpanel" aria-labelledby="navPagina10FormUsuario">
    <p>
        Clasificación del Pectus. Otros datos de relevancia.
    </p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Forma de las costillas
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Forma" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionForma1" value="Cóncava" name="customRadioForm10NuevoUsuarioClasificacionForma" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionForma1">Cóncava</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionForma2" value="Convexa" name="customRadioForm10NuevoUsuarioClasificacionForma" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionForma2">Convexa</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10FormaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Forma de las costillas
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Alerones
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Alerones" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionAlerones1" value="Si" name="customRadioForm10NuevoUsuarioClasificacionAlerones" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionAlerones1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionAlerones2" value="No" name="customRadioForm10NuevoUsuarioClasificacionAlerones" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionAlerones2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10AleronesInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Alerones
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Hombros
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Hombros" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionHombros1" value="Convexa" name="customRadioForm10NuevoUsuarioClasificacionHombros" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionHombros1">Simétricos</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionHombros2" value="Convexa" name="customRadioForm10NuevoUsuarioClasificacionHombros" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionHombros2">Asimétricos</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10HombrosInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Hombros
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Antepulsión de hombros
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Antepulsion" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionAntepulsion1" value="Si" name="customRadioForm10NuevoUsuarioClasificacionAntepulsion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionAntepulsion1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionAntepulsion2" value="No" name="customRadioForm10NuevoUsuarioClasificacionAntepulsion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionAntepulsion2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10AntepulsionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Antepulsión de hombros
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Asimetría posterior
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Asimetria" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionAsimetria1" value="No" name="customRadioForm10NuevoUsuarioClasificacionAsimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionAsimetria1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionAsimetria2" value="No" name="customRadioForm10NuevoUsuarioClasificacionAsimetria" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionAsimetria2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10AsimetriaInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Antepulsión de hombros
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Posición Cifótica
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Posicion" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionPosicion1" value="Si" name="customRadioForm10NuevoUsuarioClasificacionPosicion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionPosicion1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionPosicion2" value="No" name="customRadioForm10NuevoUsuarioClasificacionPosicion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionPosicion2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10PosicionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Posición Cifótica
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Estrías
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Estrias" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionEstrias1" value="Si" name="customRadioForm10NuevoUsuarioClasificacionEstrias" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionEstrias1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionEstrias2" value="No" name="customRadioForm10NuevoUsuarioClasificacionEstrias" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionEstrias2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm10EstriasInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Estrías
                </div>
            </div>
        </div>
        <div id="inputsNuevoUsuarioForm10ClasificacionPectus" class="card" hidden="hidden">
            <div class="card-header">
                <div class="row">
                    <label for="example-date-input" class="col-12 col-form-label">
                        Dónde?
                    </label>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <input id="NuevoUsuarioForm10Donde" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm10Donde">
                    </div>
                    <div id="NuevoUsuarioForm10DondeInvalid" class="text-danger col-12" style="visibility: hidden">
                        Indica un valor para Dónde?
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Tratamiento
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm10Tratamiento" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionTratamiento1" value="Sistema Compresor" name="customRadioForm10NuevoUsuarioClasificacionTratamiento" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionTratamiento1">Sistema Compresor</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionTratamiento2" value="Vaccum" name="customRadioForm10NuevoUsuarioClasificacionTratamiento" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionTratamiento2">Vaccum</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionTratamiento3" value="Cirugía mínimamente invasiva" name="customRadioForm10NuevoUsuarioClasificacionTratamiento" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionTratamiento3">Cirugía mínimamente invasiva</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionTratamiento4" value="Cirugía de Ravitch" name="customRadioForm10NuevoUsuarioClasificacionTratamiento" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionTratamiento4">Cirugía de Ravitch</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioClasificacionTratamiento5" value="Other:" name="customRadioForm10NuevoUsuarioClasificacionTratamiento" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioClasificacionTratamiento5">Other:</label>
                    </div>
                </div>
                <input id="customRadioFormNuevoUsuarioClasificacionTratamientoInput" class="form-control" type="text" placeholder="Other:" disabled="disabled" name="InputForm10NuevoUsuarioClasificacionTratamiento">
                <div id="NuevoUsuarioForm10TratamientoInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Tratamiento
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    Anotaciones
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="NuevoUsuarioForm10Anotaciones" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm10Anotaciones">
                </div>
                <div id="NuevoUsuarioForm10AnotacionesInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor para Anotaciones
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2 pb-2" style=" display: inline-block; ">
        <button id="BtnBackForm10Usuario" class="btn btn-primary" type="button"> Atrás </button>
        <button id="buttonPopupFormNuevoUsuario" type="button" class="btn btn-success ui-scroll-popup font-weight-bold"> Enviar <span class="fa fa-share"></span> </button>
        <input id="submitForm10NuevoUsuario" type="submit" name="submit" class="btn btn-success" hidden="hidden" />
    </div>
</div>