@*Form13 Pectus Mixto*@

<div class="tab-pane fade" id="form13" role="tabpanel" aria-labelledby="dropdownPectusMixto">
    <p>
        Pectus Mixto
    </p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Ubicación del defecto
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm13PectusMixtoUbicacion" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioMixtoUbicacion1" value="Carinatum derecho y Excavatum izquierdo" name="customRadioForm13NuevoUsuarioMixtoUbicacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioMixtoUbicacion1">Carinatum derecho y Excavatum izquierdo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioMixtoUbicacion2" value="Carinatum izquierdo y Excavatum derecho" name="customRadioForm13NuevoUsuarioMixtoUbicacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioMixtoUbicacion2">Carinatum izquierdo y Excavatum derecho</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm13PectusMixtoUbicacionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-date-input" class="col-12 col-form-label">
                    Presión de Corrección del Pectus Carinatum (PSI)
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input id="NuevoUsuarioForm13PectusMixtoPresion" class="form-control" type="text" placeholder="Tu respuesta" name="NuevoUsuarioForm13PresionCorreccion">
                </div>
                <div id="NuevoUsuarioForm13PectusMixtoPresionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <label for="example-text-input" class="col-12 col-form-label">
                    Rotación Esternal
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="NuevoUsuarioForm13PectusMixtoRotacion" class="btn-group-toggle pl-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioMixtoRotacion1" value="Si" name="customRadioForm13NuevoUsuarioMixtoRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioMixtoRotacion1">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioMixtoRotacion2" value="No" name="customRadioForm13NuevoUsuarioMixtoRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioMixtoRotacion2">No</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm13PectusMixtoRotacionSi" class="btn-group-toggle pl-3" hidden="hidden">
                    <span class="fa fa-level-down-alt"></span>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioMixtoRotacionSi1" value="Carinatum derecho y Excavatum izquierdo" name="customRadioForm13NuevoUsuarioMixtoRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioMixtoRotacionSi1">Carinatum derecho y Excavatum izquierdo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioFormNuevoUsuarioMixtoRotacionSi2" value="Carinatum izquierdo y Excavatum derecho" name="customRadioForm13NuevoUsuarioMixtoRotacion" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioFormNuevoUsuarioMixtoRotacionSi2">Carinatum izquierdo y Excavatum derecho</label>
                    </div>
                </div>
                <div id="NuevoUsuarioForm13PectusMixtoRotacionInvalid" class="text-danger col-12" style="visibility: hidden">
                    Indica un valor
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2 pb-2" style=" display: inline-block; ">
        <button id="BtnBackForm13Usuario" class="btn btn-primary" type="button"> Atrás </button>
        <button id="BtnNextForm13Usuario" class="btn btn-primary" type="button"> Siguiente </button>
    </div>
</div>